@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khand:wght@700&display=swap');

/* Fix Safari issue related to <summary> / <details> arrow */
details > summary.list-none::-webkit-details-marker,
details > summary.list-none::marker {
  display: none;
}

/* loader */

.lds-ring {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: 768px) {
    margin-top: 150px;
  }
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid black;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: black transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* end of loader */

.hero {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  justify-content: space-between;
  gap: 50px;
}

/* lazyImage */

.LazyLoad {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.is-visible {
  opacity: 1;
}

@layer base {
  *,
  ::before,
  ::after {
    @apply m-0 p-0 box-border;
  }

  body {
    @apply bg-whiteColor font-manrope;
  }

  h1,
  h2 {
    @apply font-khand font-bold;
  }

  .nav-links,
  footer {
    @apply font-khand font-bold;
  }

  a {
    @apply no-underline;
  }

  .link-btn {
    @apply flex px-10 py-[10px] sm:py-[20px] items-center justify-center relative overflow-hidden border-[3px] border-darkColor ease-in-out before:absolute before:content-[''] before:w-[110%] before:aspect-square before:rounded-full bg-darkColor before:bg-whiteColor before:top-1/2 before:left-1/2 before:-translate-x-1/2 before:-translate-y-1/2 before:scale-0 hover:before:scale-100 text-whiteColor hover:text-darkColor before:transform before:transition duration-300 before:duration-500;
  }

  .card-btn {
    @apply text-2xl text-darkColor hover:text-lightGreen self-end transition;
  }
}
