@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fix Safari issue related to <summary> / <details> arrow */
details > summary.list-none::-webkit-details-marker,
details > summary.list-none::marker {
  display: none;
}

/* lazyImage */

.LazyLoad {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.is-visible {
  opacity: 1;
}

@layer base {
  *,
  ::before,
  ::after {
    @apply m-0 p-0 box-border;
  }

  body {
    @apply bg-whiteColor;
  }

  h1,
  h2 {
    @apply font-bold;
  }

  a {
    @apply no-underline;
  }

  .btn {
    @apply flex px-10 py-[10px] sm:py-[20px] items-center justify-center relative overflow-hidden border-[3px] border-darkColor ease-in-out before:absolute before:content-[''] before:w-[110%] before:aspect-square before:rounded-full before:top-1/2 before:left-1/2 before:-translate-x-1/2 before:-translate-y-1/2 before:scale-0 hover:before:scale-100 before:transform before:transition duration-300 before:duration-500;
  }

  .link-btn {
    @apply btn bg-darkColor text-whiteColor before:bg-whiteColor hover:text-darkColor;
  }

  .light-link-btn {
    @apply btn bg-whiteColor text-darkColor before:bg-darkColor hover:text-whiteColor;
  }

  .card-btn {
    @apply text-2xl text-darkColor hover:text-lightGreen self-end transition;
  }
}
