@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khand:wght@700&display=swap');

/* Fix Safari issue related to <summary> / <details> arrow */
details > summary.list-none::-webkit-details-marker,
details > summary.list-none::marker {
  display: none;
}

/* lazyImage */

.LazyLoad {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.is-visible {
  opacity: 1;
}

@layer base {
  *,
  ::before,
  ::after {
    @apply m-0 p-0 box-border;
  }

  body {
    @apply bg-whiteColor font-manrope;
  }

  h1,
  h2 {
    @apply font-khand font-bold;
  }

  .nav-links,
  footer {
    @apply font-khand font-bold;
  }

  a {
    @apply no-underline;
  }

  .link-btn {
    @apply flex px-10 py-[10px] sm:py-[20px] items-center justify-center relative overflow-hidden border-[3px] border-darkColor ease-in-out before:absolute before:content-[''] before:w-[110%] before:aspect-square before:rounded-full bg-darkColor before:bg-whiteColor before:top-1/2 before:left-1/2 before:-translate-x-1/2 before:-translate-y-1/2 before:scale-0 hover:before:scale-100 text-whiteColor hover:text-darkColor before:transform before:transition duration-300 before:duration-500;
  }

  .card-btn {
    @apply text-2xl text-darkColor hover:text-lightGreen self-end transition;
  }
}
